.img-block:hover {
  transform: scale(1.23);
}

.button-more:hover {
  background-color: rgb(189, 245, 161);
  border: rgb(189, 245, 161);
  color: rgb(147, 180, 151);
}

.button-more {
  background-color: #076a6d;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  float: right;
  transition: background-color 0.2s ease, color 0.2s ease;
}
