/* 頁面上方圖片區塊 */
.topSection {
    font-family: sans-serif;
    padding: 10px;
    padding-left: 20px;
}

/* 上方圖片本體 */
.topImage {
    width: 600px;
    margin-top: 30px;
}

/* 返回按鈕樣式 */
.backButton {
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    text-align: center;
    background-color: rgb(104, 175, 69);
    color: rgb(255, 255, 255);
    border: rgb(104, 175, 69) solid 2px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}

.backButton:hover {
    background-color: rgb(189, 245, 161);
    border: rgb(189, 245, 161);
    color: rgb(147, 180, 151);
}

/* 每一排卡片 */
.cardRow {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

/* 最後一排加上底部距離 */
.lastRow {
    margin-bottom: 20px;
}