.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 3;
  width: 220px;
  height: 200px;
  pointer-events: none;
}

.image {
  width: 65%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.textBox {
  position: absolute;
  top: 23px;
  left: 16px;
  z-index: 2;
  color: black;
  font-size: 12px;
}

.text {
  font-size: 12px;
}
