.backbtn {
  display: flex;
  width: 150px;
  height: 30px;
  justify-content: center;
  text-align: center;
  background-color: #008a8e;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.backbtn:hover {
  background-color: #076a6d;
}
