.backbtn{
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    text-align: center;
    background-color: rgb(104, 175, 69);
    color: rgb(255, 255, 255);
    border: rgb(104,175,69) solid 2px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px
}